/*RESET BÁSICO
-Elimina márgenes y padding por defecto
-Aplica box-sizing: border-box para que el ancho incluya padding/border
*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*Define colo de fondo y tipografía*/
body{
    font-family: "Mulish", sans-serif;
    background-color: #DBD3AD;
    color: #333;
}

/* Limitar ancho y centrar
- header, main y footer no serán de ancho completo
- max-width evita que la página se vea muy ancha
- margin auto los coloca al centro del body
*/

header, main{
    width: 100%;
    max-width: 1200px;   /* puedes cambiarlo a 900, 1000, etc */
    margin: 0 auto;
}

.top-banner{
    background-color:#F6C5AF;
    text-align: center;
    padding: 6px 10px;
    font-size: 15px;
    color:#0e0d0d ;
    text-transform: uppercase;
}

/*NAV*/
.nav-principal{
    background-color:#E0607E;
    padding: 15px 25px;
    max-width: 1200px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
/*tarjeta*/
.producto-tarjeta{
    width: 290px;
    background-color: #C2714F;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 25px;
    box-shadow: 0px 4px 10px #E0607E;
    text-align: center;
    transition: transform .2s ease, box-shadow .2s ease;
    margin: 40px;
    display: inline-block;
    /*Para que la badge absoluta se posicione dentro*/
    position: relative;
}
/*Efecto al pasar el mouse*/

.producto-tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px #D36060;
}

/*imagen*/
.producto-img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    padding: 10px;
}

/*Título del producto*/
.producto-titulo{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}

/*descripción del producto*/

.producto-desc{
    font-size: 15px;
    color: azure;
    margin: 20px 20px;
}

/*precio*/
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*boton*/
.producto-btn{
    background-color: #F6C5AF;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.producto-btn:hover{
    background-color:#DBD3AD;
}

.logo{
    font-size: 45px;
    font-weight: bold;
}
/*Menú de navegación*/

.nav-lista{
    
    list-style: none; 
}

.nav-lista a{
    text-decoration: none;
    color: #DBD3AD;
    font-weight: bold;
    transition: .3s;
}

.nav-lista a:hover{
    color:#333;
}

.catalogo{
    padding-left: 20px;
    padding-top: 20px;
}

/* CONTENEDOR DE PRODUCTOS*/
.catalogo-contenedor{
    padding: 20px;
}



#entregas{
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#acerca{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#contacto{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.contacto-aside{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.pie-pagina{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#list-entregas{
    padding-left: 50px;
}