*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    background-color: #DBD3AD;
}
/*tarjeta*/
.producto-tarjeta{
    width: 290px;
    background-color: #C2714F;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 25px;
    box-shadow: 0px 4px 10px #E0607E;
    text-align: center;
    transition: transform .2s ease, box-shadow .2s ease;
    margin: 40px;
    display: inline-block;
}

.producto-tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px #D36060;
    padding-bottom: 20px;
}

/*imagen*/
.producto-img{
    width: 100%;
    height: 300px;
    object-fit: contain;
    padding: 10px;
}

.producto-titulo{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
}

.producto-desc{
    font-size: 15px;
    color: azure;
    margin: 20px 20px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*boton*/
.producto-btn{
    background-color: #F6C5AF;
    color: black;
    font-weight: bold;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.producto-btn:hover{
    background-color:#DBD3AD;
}

.logo{
    padding-top: 30px;
    text-align: center;
    font-size: 45px;
}

.nav-lista{
    padding-left: 50px;
    list-style: none;
    padding-bottom: 20px;
}

.catalogo{
    padding-top: 20px;
    padding-left: 50px;
}

#entregas{
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#acerca{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#contacto{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.contacto-aside{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.pie-pagina{
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

#list-entregas{
    padding-left: 50px;
}